button
    color rgba(127, 255, 255, 0.75)
    background transparent
    outline 1px solid rgba(127, 255, 255, 0.75)
    border 0
    padding 1.6vh 4vh
    margin 0 4.6vh
    font-size 2vh
    font-weight bold
    cursor pointer
    &:hover
        background-color rgba(0, 255, 255, 0.5)
    &:active
        color #000000
        background-color rgba(0, 255, 255, 0.75)

.canvas-box
    position fixed
    left 0
    top 0
    z-index -1

.lottery
    &-container
        z-index 3
        margin 0 15vh
        position relative
    &-music
        position fixed
        top 3vh
        right 4vh
        z-index 5
        &__item
            display block
            opacity 0
        &__box
            width 5vh
            height 5vh
            border-radius 50%
            text-align center
            line-height 5vh
            font-size 1.4vh
            color #fff
            cursor pointer
            background-color rgba(253, 105, 0, 0.9)
            border 1px solid rgba(255, 255, 255, .5)

    &-menu
        position absolute
        bottom 2vh
        width 100%
        text-align center
        z-index 4
        margin-left 15vh
    &-bubble__container
        position fixed
        right 0
        top 10vh
        bottom 1vh
        width 24vh
        z-index 2
    &-none
        display none

.element
    width 12vh
    height 16vh
    box-shadow 0 0 12px rgba(0, 255, 255, 0.5)
    border 1px solid rgba(127, 255, 255, 0.25)
    text-align center
    cursor default
    transition background-color .3s ease-in
    &:hover
        box-shadow 0 0 12px rgba(0, 255, 255, 0.75)
        border 1px solid rgba(127, 255, 255, 0.75)
    .company
        position absolute
        top 1.2vh
        right 1.2vh
        font-size 2vh
        color rgba(127, 255, 255, 0.75)
    .name
        position absolute
        top 4.6vh
        left 0
        right 0
        font-size 3.2vh
        font-weight bold
        color rgba(255, 255, 255, 0.75)
        text-shadow 0 0 1vh rgba(0, 255, 255, 0.95)
    .details
        position absolute
        bottom 1.2vh
        left 0
        right 0
        font-size 1.6vh
        color rgba(127, 255, 255, 0.75)

.highlight
    background-color rgba(253, 105, 0, 0.95) !important
    box-shadow 0 0 12px rgba(253, 105, 0, 0.95)
    border 1px solid rgba(253, 105, 0, 0.25)
    .company,
    .name,
    .details
        color rgba(255, 255, 255, .85)
    &.element
        .name
            text-shadow 0 0 16px rgba(255, 255, 255, 0.95)

@-webkit-keyframes animate-positive {
    0% {
        width 0
    }
}

@keyframes animate-positive {
    0% {
        width 0
    }
}


@-webkit-keyframes progress-bar-stripes {
    from {
        background-position 8px 0
    }

    to {
        background-position 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position 8px 0
    }

    to {
        background-position 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position 8px 0
    }

    to {
        background-position 0 0
    }
}
