html,
body
    height 100%

a
    color #ffffff

.logo
    color #fff
    height 60px
    line-height 60px
    display flex
    align-items center
    justify-content center
    h3
        color #fff
