.custom-select
    position relative
    &__inner
        display inline-block
        position relative
    &__input
        padding 0 15px
        border none
        border-radius 4px
        border 1px solid #dcdfe6
        outline none
        -webkit-appearance none
        height 40px
        line-height 40px
        box-sizing border-box
        display inline-block
        margin-left 20px
        color #606266
        min-width 200px
        margin-top 20px
        transition all .2s ease-in-out
        &.is-hover
            border-color #4094ff
    &__suffix
        position absolute
        top 50%
        right 8px
        color #c0c4cc
    &__arrow
        position absolute
        left 35px
        display block
        width 0
        height 0
        border-color transparent
        border-style solid
        border-width 6px
        filter drop-shadow(0 2px 12px rgba(0, 0, 0, .03))
        margin-right 3px
        top -6px
        border-top-width 0
        border-bottom-color #ebeef5
        &:after
            position relative
            display block
            width 0
            height 0
            border-color transparent
            border-style solid
    &__dropdown
        list-style none
        padding 6px 0
        margin 0
        box-sizing border-box
        position absolute
        left 20px
        top 60px
        background-color #fff
        overflow scroll
        width 200px
        height 200px
        border 1px solid #e4e7ed
        z-index 10
        // transition height .6s
        &.is-hidden
            height 0
            padding 0
            border none
        &:before
            position absolute
            width 15px
            height 15px
            top -10px
            left 20px
            border-left 15px solid transparent
            border-right 15px solid transparent
            border-bottom 15px solid green
        .dropdown-item
            font-size 14px
            padding 0 20px
            position relative
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            color #606266
            height 34px
            line-height 34px
            box-sizing border-box
            cursor pointer
            &.hover
                background-color #f5f7fa
