.element
    width 12vh
    height 16vh
    box-shadow 0 0 12px rgba(0, 255, 255, 0.5)
    border 1px solid rgba(127, 255, 255, 0.25)
    text-align center
    cursor default
    transition background-color .3s ease-in
    &:hover
        box-shadow 0 0 12px rgba(0, 255, 255, 0.75)
        border 1px solid rgba(127, 255, 255, 0.75)
    .company
        position absolute
        top 1.2vh
        right 2.2vh
        font-size 2vh
        color rgba(127, 255, 255, 0.75)
    .name
        position absolute
        top 4.6vh
        left 0
        right 0
        font-size 3.2vh
        font-weight bold
        color rgba(255, 255, 255, 0.75)
        text-shadow 0 0 1vh rgba(0, 255, 255, 0.95)
    .details
        position absolute
        bottom 1.2vh
        left 0
        right 0
        font-size 1.6vh
        color rgba(127, 255, 255, 0.75)

.highlight
    background-color rgba(253, 105, 0, 0.95) !important
    box-shadow 0 0 12px rgba(253, 105, 0, 0.95)
    border 1px solid rgba(253, 105, 0, 0.25)
    .company,
    .name,
    .details
        color rgba(255, 255, 255, .85)
    &.element
        .name
            text-shadow 0 0 16px rgba(255, 255, 255, 0.95)

.prize
    &.element
        transition background-color 1.5s ease-in .3s
        background-color rgba(253, 105, 0, 0.85) !important
        box-shadow 0 0 12px rgba(253, 105, 0, 0.95)
        .name
            text-shadow none
            font-size 90%
    .company,
    .details,
    .name
        color rgba(255, 255, 255, .85)
