.lottery-music
    position fixed
    top 3vh
    right 4vh
    z-index 5
    &__item
        display block
        opacity 0
    &__box
        width 5vh
        height 5vh
        border-radius 50%
        text-align center
        line-height 5vh
        font-size 1.4vh
        color #fff
        cursor pointer
        background-color rgba(253, 105, 0, 0.9)
        border 1px solid rgba(255, 255, 255, .5)
