.lottery-bubble
  width 100%
  padding 1.8vh 1.4vh
  line-height 1.414
  margin 4px 0
  box-sizing border-box
  font-size 14px
  background-color rgba(127, 255, 255, 0.25)
  color rgba(127, 255, 255, 0.75)
  &__container
    position fixed
    right 0
    top 10vh
    bottom 1vh
    width 24vh
    z-index 2